In [1]:
# Кадастровые ладаынне участка




#по коорлинате привязываем


#Метод реалищации черещ контур реестро
#Кадастровый номер: 26:19:091213:1
#Номер землепользования: 26:19:000000:493
#Категория земель: Не указано
#Уточненая площадь
#Год постройки дома


#   "query": "success",
#   "found": 2,
#   "list": [
#     {
#       "obj_type": "Квартира, Жилое помещение",
#       "cad_num": "48:20:0027508:2018",
#       "address": "Липецкая область, г. Липецк, ул. Ушинского, д. 9, корп. 2, кв. 8",
#       "area": "61,7",
#       "cad_cost": "1820796 руб.",
#       "status": "Учтенный"
#     },
#     {
#       "obj_type": "Нежилое помещение, помещение",
#       "cad_num": "48:20:0027508:2033",
#       "address": "Липецкая область, г. Липецк, ул. Ушинского, д. 9, корп. 2, пом. 8",
#       "area": "552,2",
#       "cad_cost": "14821732,73 руб.",
#       "status": "Учтенный"
#     }
#   ]
# }


#Список подстанций Краснодарского края https://frexosm.ru/power/validator/kda-substation.html
#Парсим по координате и названию, берем мощность

#https://energoseti.ru/s есть координаты

#Схемы по энергоснабжению  по теории графов ставим точку , другкую и завдав что это узел получаем карту для простых.

### Описание задачи

Глава муниципалитета получает сведения о пуле согласованныз проектов по мощности электроснабжения.

Также он получает данные о резереве мощности на текущий момент

### Импорты

In [10]:
import pandas as pd
import random
import numpy as np
import matplotlib.pyplot as plt

В виде таблице ниже управляющему приходит пул согласованным к будущему подключению мощностей.
- `Date of project approval` - дата согласования проекта по подключению к объекту требуемой мощности
- `Subscriber` - Абонент, тип
- `Requested Power` - согласованная мощность, кВт
- `District` - район, номер муниципалитета

In [6]:


data = []
columns = ['Date of project approval', 'Subscriber', 'Requested Power', 'District']

for district in range(1, 11):
    data.append(['11.01.23', 'Торговый центр', random.randint(300, 700), district])
    data.append(['11.01.23', 'Школа', random.randint(200, 500), district])
    data.append(['11.01.23', 'Жилой комплекс', random.randint(100, 150), district])
    data.append(['11.01.23', 'Коттеджный поселок', random.randint(70, 200), district])

df_pool = pd.DataFrame(data, columns=columns)
display(df_pool)

   Date of project approval          Subscriber  Requested Power  District
0                  11.01.23      Торговый центр              526         1
1                  11.01.23               Школа              332         1
2                  11.01.23      Жилой комплекс              103         1
3                  11.01.23  Коттеджный поселок              119         1
4                  11.01.23      Торговый центр              497         2
5                  11.01.23               Школа              462         2
6                  11.01.23      Жилой комплекс              139         2
7                  11.01.23  Коттеджный поселок              170         2
8                  11.01.23      Торговый центр              648         3
9                  11.01.23               Школа              446         3
10                 11.01.23      Жилой комплекс              140         3
11                 11.01.23  Коттеджный поселок              195         3
12                 11.01.23      Торговый центр              483         4
13                 11.01.23               Школа              344         4
14                 11.01.23      Жилой комплекс              109         4
15                 11.01.23  Коттеджный поселок               72         4
16                 11.01.23      Торговый центр              522         5
17                 11.01.23               Школа              471         5
18                 11.01.23      Жилой комплекс              137         5
19                 11.01.23  Коттеджный поселок               90         5
20                 11.01.23      Торговый центр              406         6
21                 11.01.23               Школа              205         6
22                 11.01.23      Жилой комплекс              129         6
23                 11.01.23  Коттеджный поселок              130         6
24                 11.01.23      Торговый центр              487         7
25                 11.01.23               Школа              282         7
26                 11.01.23      Жилой комплекс              103         7
27                 11.01.23  Коттеджный поселок              182         7
28                 11.01.23      Торговый центр              469         8
29                 11.01.23               Школа              328         8
30                 11.01.23      Жилой комплекс              141         8
31                 11.01.23  Коттеджный поселок              159         8
32                 11.01.23      Торговый центр              507         9
33                 11.01.23               Школа              432         9
34                 11.01.23      Жилой комплекс              148         9
35                 11.01.23  Коттеджный поселок              104         9
36                 11.01.23      Торговый центр              586        10
37                 11.01.23               Школа              235        10
38                 11.01.23      Жилой комплекс              150        10
39                 11.01.23  Коттеджный поселок              184        10

Также на входе данные о количестве свободных мощностей по районам на текущую дату 

- `district` - номер района
- `Power,reserve` - свободная мощность

In [14]:
data = [
    [1, 4000],
    [2, 5000],
    [3, 15000],
    [4, 500],
    [5, 3000],
    [6, 6000],
    [7, 7000],
    [8, 2000],
    [9, 500],
    [10, 10000]
]

columns = ['District', 'Power,reserve']

df_vacant_power = pd.DataFrame(data, columns=columns)
display(df_vacant_power)

   District  Power,reserve
0         1           4000
1         2           5000
2         3          15000
3         4            500
4         5           3000
5         6           6000
6         7           7000
7         8           2000
8         9            500
9        10          10000

Далее мы суммируем запрашиваемуюю мощнсоть по каждому району из таблицы df_pool

In [8]:


# Your existing code to create df_pool goes here...

# Calculate the sum of power for each district
df_sum_power = df_pool.groupby('District')['Requested Power'].sum().reset_index()

display(df_sum_power)

   District  Requested Power
0         1             1080
1         2             1268
2         3             1429
3         4             1008
4         5             1220
5         6              870
6         7             1054
7         8             1097
8         9             1191
9        10             1155

In [19]:
import pandas as pd

# Your existing code to create df_pool and df_sum_power goes here...

# Merge df_sum_power with the 'Power,reserve' DataFrame
df_merged = df_sum_power.merge(df_vacant_power, on='District', how='left')

# Calculate the difference between power reserve and requested power
df_merged['Difference'] = df_merged['Power,reserve'] - df_merged['Requested Power']

display(df_merged)

   District  Requested Power  Power,reserve  Difference
0         1             1080           4000        2920
1         2             1268           5000        3732
2         3             1429          15000       13571
3         4             1008            500        -508
4         5             1220           3000        1780
5         6              870           6000        5130
6         7             1054           7000        5946
7         8             1097           2000         903
8         9             1191            500        -691
9        10             1155          10000        8845

In [26]:
# Your existing code to create df_merged goes here...

# Create a style function to highlight cells within a specific range in yellow, and others in red
def highlight_range(val):
    if 0 <= val <= 1000:
        background_color = 'yellow'
    elif val <0:
        background_color = 'red'

    else:
        background_color = 'black'
    return f'background-color: {background_color}'

# Create a styler object for the DataFrame and apply the style function
styled_df = df_merged.style.applymap(highlight_range, subset=['Difference'])

# Display the styled DataFrame
styled_df

После получения этих данных, у админстратора несколкьл сценариев:
 - реконструкция подстанции (установка трансформатора большей мощности)
 - строительство новой подстанции (Блочной БКТП для города, столбовой СТП или матчовой для коттеджных поселков и других маломощных объектов)
 - в случае еслм мощности не хватает на силовой посдтанции 35/10 кВ, то требуется реконструкция уже этой подстанции
 - вслучае особо крупных объектов, например завода, строительсвто собственной подстанции для эого завода 110/10 кВ например  



 У каждого района есть координата, и мы передаем координату и статус резерва мощности для отрисовки

Тоже самое для водносабжения, теплоснабжения, газоснабжения